/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed red;
}

:root {
    /* Color Variables */
    --ly-header-contrast: #ff6900;
    --ly-dark-primary: #1a1a1a;
    --ly-light-primary: white;
    --ly-contrast1: #ff0000;
    --ly-contrast2: #008000;
}

body {
    max-width: 1920px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1380px;
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    margin: 0 
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 0.5rem;
}

.footer-box {
    padding-bottom: 0.5rem;
    display: block;
}

.d-flex {
    display: flex;
}


/* Header */

header {
    width: 100%;
    min-height: 70px;
    a {
        color: var(--ly-light-primary);
        text-decoration: none;
    }
    background-color: var(--ly-header-contrast);
    color: var(--ly-light-primary);
    padding: 1rem;
    div {
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        max-width: 140px;
    }
    .menu-sx {
        max-width: 180px;
        font-weight: bolder;
    }
    .menu-rx {
        width: 65px;
        justify-content: space-between;
    }
}

/* Main */

main {
    padding: 3.75rem 0.5rem;
    strong {
        color: var(--ly-contrast1);
    }
    .card {
        position: relative;
    
        .favorite {
            background-color: var(--ly-light-primary);
            position: absolute;
            top: 10px;
            right: 0;
            width: 50px;
            height: 50px;
            i {
                position:absolute;
                right: 15px;
                top: 15px;
            }
        }
    
        :hover {
            .favorite {
            display: block;
        }
        }

        .spec {
            position: absolute;
            bottom: 95px;
            display: inline-block;
            padding: 0.2rem 0.8rem;
            font-size: small;
            color: var(--ly-light-primary);
            font-weight: bolder;
        }

        .discount {
            left: 0;
            background-color: var(--ly-contrast1);
        }

        .eco {
            left: 65px;
            background-color: var(--ly-contrast2);
        }

        .eco2 {
            background-color: var(--ly-contrast2);
            left: 0;
        }
    }
}



/* Footer */

footer {
    align-content: center;
    width: 100%;
    height: 110px;
    background-color: var(--ly-dark-primary);
    color: var(--ly-light-primary);
    a {
        padding-right: 0.5rem;
        color: var(--ly-light-primary);
        text-decoration: none;
    }
    >div {
        height: 70%;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        padding: 0.5rem;

        #footer-box-2 {
            text-align: center;
        }

        i {
            font-size:x-large;
            padding: 0 0.1rem;
        }
    }
}